<?php
define('_DB_SERVER_', '{{ db_endpoint }}');
define('_DB_NAME_', 'prestashop');
define('_DB_USER_', '{{ db_username }}');
define('_DB_PASSWD_', '{{ db_password }}');
define('_DB_PREFIX_', 'ps_');
define('_MYSQL_ENGINE_', 'InnoDB');
?>